!!!
html
  head
    title= title
    script(type="text/javascript", src="/javascripts/jquery-1.7.2.min.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet/less', href='/stylesheets/style.less')
    script(type="text/javascript", src="/javascripts/less.js")
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>

  body!= body
