/*yellow #FCCC5D; red #E14539; burnt #B3403B; brown #77372D; wine #2F1217 */

.inline {
    display: inline-block;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin-top: 50px;
}

a {
    color: #00B7FF;
}

#header {
    background-color: #77372D;
    height: 40px;
    width: 100%;
    position:fixed;
    top: 0px;
    color: #FCCC5D;
}

#header div {
    margin-left: 20px;
}

#header h1 {
    display: inline;
    margin-left: 20px;
}

#header h1 {
    color: #FCCC5D;
}

#side-bar{
    background-color: #E3A334;
    border: 2px solid #B07A1C;
    box-shadow: 2px 2px 3px #E3BC78;
    padding: 7px;
}

.maze-on {
    float: left;
    width: 160px;
    -webkit-transition: all 1s;
}

.lobby {
    width: 310px;
    margin: 0 auto; 
    transition: width 1s;
}

#myCanvas {
    display: none;
    float: right;
    position: absolute;
}

.hidden {
    display: none;
}

#ajax-loader img{
    display: block;
    margin: auto;
}

#canvas-wrap {
    position: relative;
    margin-left: 10px;
}

#canvasCover {
    background-color: blue;
    z-index: 100;
    position: absolute;
}
