body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#side-bar{
    background-color: #E3A334;
    border: 2px solid #B07A1C;
    box-shadow: 2px 2px 3px #E3BC78;
    padding: 7px;
}

.maze-on {
    float: left;
    width: 160px;
    -webkit-transition: all 1s;
}

.lobby {
    width: 310px;
    margin: 0 auto; 
    transition: width 1s;
}

#myCanvas {
    display: none;
    margin-left: 10px;
    float: right;
    position: absolute;
}

.hidden {
    display: none;
}

#ajax-loader img{
    display: block;
    margin: auto;
}
